@import '@ionic/core/css/core.css';

ion-popover::part(content) {
  @apply h-fit w-fit rounded-3xl bg-overlay text-overlay-contrast shadow-lg;
}

ion-datetime {
  @apply rounded-b-3xl font-geometric;
  --background: transparent;
  --ion-color-primary: rgb(var(--color-accent));
  --ion-color-primary-contrast: rgb(var(--color-accent-contrast));
  --ion-color-step-150: rgb(var(--color-background));
  --ion-color-step-200: transparent;
  --ion-color-step-300: rgb(var(--color-overlay-contrast));
  --ion-color-step-500: rgb(var(--color-overlay-contrast));
  --ion-color-step-650: rgb(var(--color-accent));

  --ion-color-primary-rgb: var(--color-accent-rgb);
  --wheel-fade-background-rgb: var(--color-overlay-rgb);
}

ion-datetime::part(calendar-day) {
  @apply text-sm;
}
