<div
  class="flex w-full flex-col justify-between gap-4 md:flex-row md:items-center"
>
  <div class="flex flex-row items-center gap-4">
    <div class="flex min-h-12 flex-col justify-center gap-1 sm:min-h-16">
      @if (!selectedDateObject()) {
        <div
          class="h-7 w-64 animate-pulse rounded-xl bg-background-contrast/30 sm:h-8 sm:w-80"
        ></div>
      }
      @if (selectedDateObject()) {
        <h2 class="text-xl sm:text-2xl">
          <strong>{{ selectedWeekday() }}</strong
          >, {{ selectedDayAndMonth() }}
        </h2>

        @if (!isToday()) {
          <p>Visualizando uma data que não é hoje.</p>
        }
      }
    </div>
  </div>

  <div class="flex flex-row items-center gap-2">
    <button
      class="button-outline-icon focus:ring-offset-background"
      (click)="goToPreviousDate()"
    >
      <ng-icon
        class="m-0.5 sm:m-1"
        name="lucideArrowLeft"
        aria-hidden="true"
      ></ng-icon>
      <span class="sr-only">Data anterior</span>
    </button>
    <button
      class="button-outline flex w-full flex-row justify-center text-center focus:ring-offset-background"
      id="open-picker-popover"
    >
      <ng-icon
        class="min-w-fit"
        name="lucideCalendarDays"
        aria-hidden="true"
      ></ng-icon>
      <span>Selecionar data</span>
    </button>
    <button
      class="button-outline-icon focus:ring-offset-background"
      (click)="goToNextDate()"
    >
      <ng-icon
        class="m-0.5 sm:m-1"
        name="lucideArrowRight"
        aria-hidden="true"
      ></ng-icon>
      <span class="sr-only">Próxima data</span>
    </button>
  </div>
</div>

<ion-popover
  trigger="open-picker-popover"
  side="bottom"
  alignment="center"
  mode="md"
>
  <ng-template>
    <div class="w-[300px] rounded-3xl bg-overlay pt-2 sm:w-[350px]">
      <ion-datetime
        presentation="date"
        #datetime
        [isDateEnabled]="isDateMenuAvailable"
        (ionChange)="commitDateSelection($event)"
        value="{{ selectedDate() }}"
      >
        <div
          class="flex w-[280px] flex-row gap-2 p-4 text-right sm:w-[330px]"
          slot="buttons"
        >
          <button
            class="button-text mr-auto"
            (click)="datetime.reset(getTodayStringInRestaurantTimezone())"
          >
            Hoje
          </button>
          <button class="button-text" (click)="dismissPickerPopover()">
            Cancelar
          </button>
          <button
            class="button-fill focus:ring-offset-overlay"
            (click)="datetime.confirm()"
          >
            OK
          </button>
        </div>
      </ion-datetime>
    </div>
  </ng-template>
</ion-popover>
