<div class="flex w-full flex-row items-center justify-between gap-2 p-4">
  <div class="flex flex-row items-center gap-4">
    <!-- TODO: Implement next/previous date selection -->
    @if (false) {
      <button class="button-outline-icon focus:ring-offset-background">
        <ng-icon name="lucideArrowLeft" aria-hidden="true"></ng-icon>
        <span class="sr-only">Data anterior</span>
      </button>
    }
    @if (selectedDateObject()) {
      <h2 class="text-xl sm:text-2xl">
        <strong>{{ selectedWeekday() }}</strong
        >, {{ selectedDayAndMonth() }}
      </h2>
    }

    @if (false) {
      <button class="button-outline-icon focus:ring-offset-background">
        <ng-icon name="lucideArrowRight" aria-hidden="true"></ng-icon>
        <span class="sr-only">Próxima data</span>
      </button>
    }
  </div>

  <button
    class="button-outline focus:ring-offset-background"
    id="open-picker-popover"
  >
    <ng-icon name="lucideCalendarDays" aria-hidden="true"></ng-icon>
    <span class="sr-only sm:not-sr-only">Selecionar data</span>
  </button>
</div>

<ion-popover
  trigger="open-picker-popover"
  side="bottom"
  alignment="end"
  mode="md"
>
  <ng-template>
    <div class="w-[300px] rounded-3xl bg-overlay sm:w-[350px]">
      <ion-datetime
        presentation="date"
        #datetime
        [isDateEnabled]="isDateMenuAvailable"
        (ionChange)="commitDateSelection($event)"
        value="{{ selectedDate() }}"
      >
        <div
          class="flex w-[280px] flex-row gap-2 p-4 text-right sm:w-[330px]"
          slot="buttons"
        >
          <button
            class="button-text mr-auto"
            (click)="
              datetime.reset(
                knowledgeService.getDateInRestaurantTimezone().toISOString()
              )
            "
          >
            Hoje
          </button>
          <button class="button-text" (click)="dismissPickerPopover()">
            Cancelar
          </button>
          <button
            class="button-fill focus:ring-offset-overlay"
            (click)="datetime.confirm()"
          >
            OK
          </button>
        </div>
      </ion-datetime>
    </div>
  </ng-template>
</ion-popover>
