<div class="p-safe">
  <div class="standard-page-container p-4">
    <rusbe-header [type]="HEADER_TYPE"> Cardápio </rusbe-header>
  </div>

  <div class="standard-page-container">
    <main class="flex flex-col gap-4 sm:gap-8">
      <rusbe-date-picker
        [(selectedDate)]="selectedDate"
        class="mx-4 mb-4 mt-2 sm:mt-4"
      ></rusbe-date-picker>
      <rusbe-restaurant-menu-viewer
        [archiveEntry]="selectedArchiveEntry.value()"
      ></rusbe-restaurant-menu-viewer>
    </main>
  </div>
</div>
