<a
  class="bg-card-corner-close flex h-full flex-col justify-between rounded-2xl bg-highlight-b bg-[url('/assets/artworks/shapes-money.svg')] bg-[length:4rem_6rem] p-4 text-highlight-b-contrast shadow-sm transition-all hover:bg-highlight-b-hover hover:shadow-lg focus:outline-none focus:ring focus:ring-highlight-b focus:ring-offset-2 focus:ring-offset-background active:bg-highlight-b-hover sm:rounded-3xl sm:bg-[length:5rem_8rem] sm:p-6"
  routerLink="/account/details"
  draggable="false"
>
  <h2 class="geometric-title">Créditos</h2>

  <rusbe-balance-viewer
    [colorScheme]="BALANCE_VIEWER_COLOR_SCHEME"
  ></rusbe-balance-viewer>
</a>
