<div class="flex min-h-[70%] flex-col gap-4 py-4 sm:gap-8">
  <img
    src="assets/artworks/shapes-key.svg"
    alt=""
    class="h-12 self-start sm:h-16"
  />

  <p class="text-balance text-xl sm:text-3xl">
    Parece que você trocou a senha ou apagou a sua conta da General Goods. Para
    continuar usando o Rusbé, você precisa reconfigurar a sua conta.
  </p>
</div>
<div
  class="flex min-h-[30%] flex-col items-center justify-end gap-2 py-4 sm:gap-4 sm:pb-16"
>
  <button
    (click)="exitWizard.emit()"
    class="button-text button-full button-large focus:ring-offset-background"
  >
    Mais tarde
  </button>
  <button
    (click)="clearIntegrationDataAndContinue()"
    class="button-fill button-full button-large focus:ring-offset-background"
  >
    Continuar
  </button>
</div>
