<div
  class="flex min-h-[70%] flex-col items-center justify-center gap-12 text-center"
>
  <img
    alt=""
    class="max-h-64 p-4 sm:max-h-80"
    src="assets/artworks/shapes-fruit-coat-of-arms.svg"
  />
  <div class="flex flex-col gap-2 sm:gap-4">
    <h2 class="text-balance text-xl font-semibold text-accent sm:text-3xl">
      Tudo certo!
    </h2>
    <p class="text-pretty text-sm sm:text-lg">
      Esperamos que você aproveite o Rusbé.
    </p>
  </div>
</div>
<div
  class="flex min-h-[30%] flex-col items-center justify-end gap-2 py-4 sm:gap-4 sm:pb-16"
>
  <button
    (click)="exitWizard.emit()"
    class="button-fill button-full button-large focus:ring-offset-background"
  >
    Ir para o Rusbé
  </button>
</div>
